<div class="main-container">
    <div class="main-wrapper">
        <img src="/img/waiter.webp" class="signin-image" />
        <h2 class="title">Sign in</h2>
        <div class="bottom-wrapper">
            <form action='/' method="POST">
                <div>
                    <label class="errors error">{{error}}</label>
                    <label class="errors success">{{success}}</label>
                    <p class="name-label">Name:</p>
                    <input class='name' type="text" name='name' placeholder="Enter your name" value="" />
                </div>
                <button type="submit" class="days-button">
                    Login
                </button>
               
            </form>
        </div>
    </div>
</div>